# Titanic Project
Chase Molenaar

In [39]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import warnings
warnings.filterwarnings('ignore')

In [40]:
os.getcwd()

'C:\\Users\\chase\\Desktop\\Titanic'

In [41]:
train_import = pd.read_csv('C:\\Users\\chase\\Desktop\\Titanic\\Data\\train.csv')
test_import  = pd.read_csv('C:\\Users\\chase\\Desktop\\Titanic\\Data\\test.csv')

In [42]:
# Drop several columns as they do not have very meaningful values
train = train_import.drop(['PassengerId','Name','Ticket','Cabin','Embarked'], axis = 1)

# Dropna on the rest [only Age is occasionally unfilled]
train = train.dropna()

In [43]:
X = train.drop(['Survived'], axis = 1)
y = train['Survived']

In [44]:
X['Sex'].loc[X['Sex'] == 'male']   = 1
X['Sex'].loc[X['Sex'] == 'female'] = 0

In [45]:
#X['Embarked'].loc[X['Embarked'] == 'C'] = 0
#X['Embarked'].loc[X['Embarked'] == 'Q'] = 1
#X['Embarked'].loc[X['Embarked'] == 'S'] = 2

In [46]:
X

     Pclass Sex   Age  SibSp  Parch     Fare
0         3   1  22.0      1      0   7.2500
1         1   0  38.0      1      0  71.2833
2         3   0  26.0      0      0   7.9250
3         1   0  35.0      1      0  53.1000
4         3   1  35.0      0      0   8.0500
..      ...  ..   ...    ...    ...      ...
885       3   0  39.0      0      5  29.1250
886       2   1  27.0      0      0  13.0000
887       1   0  19.0      0      0  30.0000
889       1   1  26.0      0      0  30.0000
890       3   1  32.0      0      0   7.7500

[714 rows x 6 columns]

In [47]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

## Sklearn Modeling

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=123)

In [49]:
features = ['Pclass','Sex','Age','SibSp','Parch','Fare']
model = RandomForestClassifier(n_estimators=100, max_depth=10, random_state=123)
model.fit(X_train, y_train)
predictions = model.predict(X_test)

In [50]:
predictions

array([0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1], dtype=int64)

In [51]:
accuracy = sum(predictions == y_test)/len(y_test)
print("Accuracy is:",accuracy)

Accuracy is: 0.8391608391608392

In [52]:
# Calculate Baseline
(sum(train[(train['Sex'] == 'female')]['Survived'] == 1) + sum(train[(train['Sex'] == 'male')]['Survived'] == 0))/len(train)

0.7801120448179272

## Conclusion

After removing extraneous and categorical variables, assigning sex to booleans, and splitting our data, we were ready to train our model. Our accuracy was (thankfully) above baseline, which was predicting survival for only women. This was so accurate (78%) that our model only improved upon it by 6%! I didn't run any models to compare with this one, but with similar problems Random Forest seems to have an edge.

## Unused Test Data
Since our test_data does not have a 'Survived' column, we can't assess the accuracy of our model. we can make predictions, but we have no way of knowing how correct they are. I'm going to assume that the assignment wanted me to perform a test-train split and assess in-sample accuracy (using a validation set). That is exactly what I have done above.

In [53]:
test_import

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C